@font-face {
    font-family: Roboto-Mono;
    src:url(Edu_AU_VIC_WA_NT_Arrows,Roboto_Mono/Roboto_Mono/static/RobotoMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Roboto-Mono, sans-serif;
    font-weight: 600;
    font-variant: small-caps;

}

.input-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5em;
    flex: 1;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.output-container{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-top: 1.5rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#output{
    font-size: 1.105rem;
}

#btn{
    font-family: Roboto-Mono, sans-serif;
    font-size: 1.15rem;
    border: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    font-weight: 400;
    font-variant: small-caps;
}

/* #resetBtn{
    font-family: Roboto-Mono, sans-serif;
    font-size: 1.15rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    border: 0;
    font-weight: 400;
    font-variant: small-caps;
} */

#btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
}

/* #resetBtn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
} */

#txtNumber{
    font-size: 1rem;
    border: 0;
    border-radius: 0.5rem;
}

#number{
    font-size: 1.25rem;
    margin-top: 0.05em;
}

.title{
    font-size: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: flex-start;
}
